@font-face {
    font-family: boots-and-spurs;
    src: url(../fonts/BootsAndSpurs.ttf);
}



body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, .logo{
    font-family: boots-and-spurs,Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2{
    font-family: 'Roboto', sans-serif;
}

nav .active{
    color: yellow;
    text-decoration: underline;
}

header, 
footer{
    background-color:#202020;
    color: #fff;
}
nav{
    margin-bottom: 0px;
    display: flex;
}


nav ul{
    display: flex;
}

nav ul > *{
    flex: 1;
}
nav > *{
    flex:1;
}
    


footer{
    text-align: center;
}


nav ul{
    list-style: none;
    margin: 0;
    display: inline-block;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color:#fff;
    padding: 20px;
}

.hero{
    position: relative;
}

.hero-div{
    position: absolute;
    top: 140px;
    left: 110px;
    text-align: center;
}


.reviews{
    background-color: #E8E8E8;
}

/*buttons */
.btn{
    background-color: #bb0000;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.btn{
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
    text-transform: uppercase;
}
.btn-guitar-sale{
    background-color: #127300;
}

.btn-small{
    padding: 5px 18px;
    font-size: 0.8rem;
}



.btn-cta-big{
    padding: 10px 80px;
    font-size: 1rem;
    font-weight: bold;
}



.guitar-list{
    background-color: #fbfbfb;
}

.reviews-img{
    border-radius: 50%;
}

.hero{
    background-image: url(../images/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
}

.our-gitars img{
    border-radius: 22%;
}






input, 
select,
textarea{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

/* Product page */

.container-product-allcolumns{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 6rem auto;
    gap: 45px;
}

.container-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    
 
 
}


.container-img-small{
    display: flex;
    flex: 1;
    
  
}

.container-img-small,
.container-img{
    gap:10px;
}

.product-img-small{
    flex: 1;
   
}


.product-img-big{
    flex: 4;
}
.container-text{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;

    
}

#product__header{
    margin-bottom: 0;
}

.container-text a{
  
    align-self: center;
}


.flex-item{
    flex: 1;
}

img{
    width: 100%;
}




figure{
    margin: 0;
}


.flex__item--p{
    margin: 0;
}



/*Contact page */

.contact__main{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.form__container--big{
    display: flex;
    flex-direction:column;
}

.contact-text{
    text-align: center;
}

.form{
    display: flex;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
    min-height: 300px;
    gap: 40px;
}

.form__column--left, 
.form__column--right{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-items: flex-start;
    gap: 10px;
}


.form__column--left > *, 
.form__column--right > * {
    flex:1;
max-height: 60px;
min-width: 300px;
}

#message{
    max-height: 70%;
}

.form__column--left label, .form__column--right label{
    flex: 0 1;
}

.form_button{
    flex: 1;
    align-self: center;
}

#btn--contact{
    flex: 1;
    align-self: center;
    margin-top: 40px;
}

