@font-face {
    font-family: boots-and-spurs;
    src: url(../fonts/BootsAndSpurs.ttf);
}



body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .logo{
    font-family: boots-and-spurs,Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2{
    font-family: 'Roboto', sans-serif;
}



header, 
footer{
    background-color:#202020;
    color: #fff;
}

footer{
    text-align: center;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color:#fff;
}

.reviews{
    background-color: #E8E8E8;
}

.btn{
    background-color: #bb0000;
    color: #fff;
    border-radius: 3px;
}
.btn-guitar-sale{
    background-color: #127300;
}

.btn-guitar-index{
    padding: 120px;
}

.guitar-list{
    background-color: #fbfbfb;
}

.reviews-img{
    border-radius: 50%;
}

.hero{
    background-image: url(../images/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
}

.our-gitars img{
    border-radius: 22%;
}



/* contact page          
*/


input, 
select,
textarea{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}